<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.qrtz.mapper.QrtzCronTriggersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.macro.mall.qrtz.model.QrtzCronTriggers">
        <id column="sched_name" property="schedName" />
        <result column="trigger_name" property="triggerName" />
        <result column="trigger_group" property="triggerGroup" />
        <result column="cron_expression" property="cronExpression" />
        <result column="time_zone_id" property="timeZoneId" />
    </resultMap>

</mapper>
