<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.ams.mapper.AmsBusinessChannelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.macro.mall.ams.model.AmsBusinessChannel">
        <id column="id" property="id" />
        <result column="regioncode" property="regioncode" />
        <result column="industrycode" property="industrycode" />
        <result column="number" property="number" />
        <result column="createdate" property="createdate" />
        <result column="modifydate" property="modifydate" />
        <result column="userid" property="userid" />
    </resultMap>

</mapper>
