<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.ams.mapper.AmsCustAccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.macro.mall.ams.model.AmsCustAccount">
        <id column="custid" property="custid" />
        <result column="userid" property="userid" />
        <result column="nickname" property="nickname" />
        <result column="name" property="name" />
        <result column="certtype" property="certtype" />
        <result column="certno" property="certno" />
        <result column="status" property="status" />
        <result column="createdate" property="createdate" />
        <result column="channel" property="channel" />
        <result column="telephone" property="telephone" />
        <result column="password" property="password" />
        <result column="edituserid" property="edituserid" />
        <result column="authuserid" property="authuserid" />
    </resultMap>

</mapper>
