<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.ams.mapper.AmsDicOrdertypeSubjectruleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.macro.mall.ams.model.AmsDicOrdertypeSubjectrule">
        <id column="id" property="id" />
        <result column="ordertypeid" property="ordertypeid" />
        <result column="oldstatus" property="oldstatus" />
        <result column="newstatus" property="newstatus" />
        <result column="type" property="type" />
        <result column="businessid" property="businessid" />
        <result column="amontruleid" property="amontruleid" />
        <result column="accountsubitemid" property="accountsubitemid" />
        <result column="paytypecode" property="paytypecode" />
        <result column="balancedirect" property="balancedirect" />
        <result column="createdate" property="createdate" />
        <result column="modifydate" property="modifydate" />
        <result column="userid" property="userid" />
        <result column="field1" property="field1" />
        <result column="field2" property="field2" />
        <result column="field3" property="field3" />
        <result column="field4" property="field4" />
        <result column="field5" property="field5" />
    </resultMap>

</mapper>
