<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.ams.mapper.AmsOrderShopsettlementMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.macro.mall.ams.model.AmsOrderShopsettlement">
        <id column="orderNo" property="orderNo" />
        <result column="shopno" property="shopno" />
        <result column="accounttype" property="accounttype" />
        <result column="bankname" property="bankname" />
        <result column="accountname" property="accountname" />
        <result column="account" property="account" />
        <result column="rate" property="rate" />
        <result column="plansettlementdate" property="plansettlementdate" />
        <result column="settlementdate" property="settlementdate" />
        <result column="remark" property="remark" />
    </resultMap>

</mapper>
